<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zé Boné - Tudo para sua cabeça</title>
    <link rel="stylesheet" href="/stylesheets/styleCarrinho.css">
    <link rel="stylesheet" href="/stylesheets/styles.css">
    <link rel="icon" type="image/x-icon" href="/images/logo/favicon.ico">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
</head>
<body>
    <%- include('partials/header')%>

    <main>
        
        <%if((produto == 'undefined') || (produto.length == 0)) {%>
            <div>O carrinho está vazio!</div>
        <%} else {%>
            <%if(Array.isArray(produto)) {for(let item of produto){%>
                <div class="containerItem">
                    <div class="item">
                        <div><%= item.idCart %></div>
                        <div class="imgItem">
                            <img src="/images/products/<%=item.img1%>" alt="produto">
                        </div>
        
                        <div class="infoItem">
                            
                            <div class="itemDescription">
                                <p><%=item.nome%></p>
                            </div>
        
                                   
                        </div>
                    </div>
        
                    <div class="price">
                        <div class="priceUnit">
                            <p><b>Valor Unitário:</b></p>
                            <p>R$ <%=item.preco.toFixed(2)%></p>
                        </div>
                        <div class="removerItem">
                            <form id="excluirItem<%=item.idCart%>" action="/checkout/carrinho/<%=item.idCart%>/remover?_method=DELETE" method="POST">
                                <a href="javascript:document.querySelector('#excluirItem<%=item.idCart%>').submit();"><img src="/images/icones/delete-shopping-cart-symbol.png" alt="Remover"></a>
                                <!-- <button type="submit">Remover</button> -->
                            </form>
                        </div>
                    </div>
                </div>
            <%}} else {%>
                <div class="containerItem">
                    <div class="item">
                        <div><%= item.idCart %></div>
                        <div class="imgItem">
                            <span><%= item.idCart %></span>
                            <img src="/images/products/<%=item.img1%>" alt="produto">
                        </div>
        
                        <div class="infoItem">
                            
                            <div class="itemDescription">
                                <p><%=item.nome%></p>
                            </div>
                        </div>
                    </div>
        
                    <div class="price">
                        <div class="priceUnit">
                            <p><b>Valor Unitário:</b></p>
                            <p>R$ <%=item.preco.toFixed(2)%></p>
                        </div>
                        <div class="removerItem">
                            <form id="excluirItem<%=item.idCart%>" action="/checkout/carrinho/<%=item.idCart%>/remover?_method=DELETE" method="POST">
                                <a href="javascript:document.querySelector('#excluirItem<%=item.idCart%>').submit();"><img src="/images/icones/delete-shopping-cart-symbol.png" alt="Remover"></a>
                                <!-- <button type="submit">Remover</button> -->
                            </form>
                        </div>
                    </div>
                </div>
            <%}%>
        <%}%>
        <div class="dadosCompra">
            <div class="botoes">
                <div class="botao"><a href="/">Adicionar mais itens</a></div>
                <div class="botao"><a href="/checkout">Finalizar compra</a></div>
            </div>
            <div class="resumoCompra">
                <div>
                    <p><strong>Total da compra:</strong></p>
                    
                </div>
                <div class="prices">
                    <p>R$ <%=totalCompra.toFixed(2)%></p>
                </div>
            </div>
        </div>
    </main>
        
    <%- include('partials/footer')%>

</body>
</html>