<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zé Boné - Tudo para sua cabeça</title>
    <link rel="stylesheet" href="/stylesheets/styles.css">
    <link rel="stylesheet" href="/stylesheets/stylesCheck.css">
    <link rel="icon" type="image/x-icon" href="/images/logo/favicon.ico">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <link href="../assets/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="form-validation.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css">
</head>

<body class="bg-light">
    <%- include('partials/header')%>
        <div class="container">
            <main>
                <div class="py-5 text-center">
                    <h2>Finalizar Compra</h2>
                </div>
                <% if(typeof errors !== 'undefined') { %>
                    <ul>
                        <%for(let error of errors) {%>
                        <li><%=error.msg%></li>
                        <%}%>
                    </ul>
                <%}%>
                <div class="row g-5">
                    <div class="col-md-5 col-lg-4 order-md-last">
                        <h4 class="d-flex justify-content-between align-items-center mb-3">
                            <span class="text-success">Seu Carrinho</span>
                            <span class="badge bg-success text-bg-success rounded-pill">
                                <%if(produto == undefined) {%>
                                    0
                                <%} else {%>
                                    <%=produto.length%>
                                <%}%>
                            </span>
                        </h4>
                        <ul class="list-group mb-3">
                            <%if(produto == 'undefined') {%>
                                <div>Sem produtos</div>
                            <%} else {%>
                                <%if(Array.isArray(produto)) {for (let item of produto){%>
                                <li class="list-group-item d-flex justify-content-between lh-sm">
                                    <div>
                                        <h6 class="my-0"><%=item.nome%></h6>
                                        <small class="text-muted"><%=item.descricao%></small>
                                    </div>
                                    <span class="text-muted">R$<%=item.preco%></span>
                                </li>
                            <%}}}%>
                            <!-- <li class="list-group-item d-flex justify-content-between bg-light">
                                <div class="text-success">
                                    <h6 class="my-0">Código Promocional</h6>
                                    <small>1010</small>
                                </div>
                                <span class="text-success">−R$5</span>
                            </li> -->
                            <li class="list-group-item d-flex justify-content-between">
                                <span>Total (R$)</span>
                                <strong>R$ <%=totalCompra%></strong>
                            </li>
                        </ul>

                        <!-- <form class="card p-2">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Promo code">
                                <button type="submit" class="btn btn-success">Redeem</button>
                            </div>
                        </form> -->
                    </div>
                    <div class="col-md-7 col-lg-8">
                        <h4 class="mb-3">Endereço de Entrega</h4>
                        <form class="needs-validation" action="/checkout" method="POST" novalidate>
                            <div class="row g-3">
                                <div class="col-sm-6">
                                    <label for="firstName" class="form-label">Primeiro Nome</label>
                                    <input type="text" name="firstName" class="form-control" id="firstName" placeholder="" value=""
                                        required>
                                    <div class="invalid-feedback">
                                        Validar Primeiro Nome é obrigatório.
                                    </div>
                                </div>

                                <div class="col-sm-6">
                                    <label for="lastName" class="form-label">Sobrenome</label>
                                    <input type="text" name="lastName" class="form-control" id="lastName" placeholder="" value=""
                                        required>
                                    <div class="invalid-feedback">
                                        Validar Sobrenome é obrigatório.
                                    </div>
                                </div>

                                <div class="col-12">
                                    <label for="username" class="form-label">Usuário</label>
                                    <div class="input-group has-validation">
                                        <span class="input-group-text">@</span>
                                        <input type="text" name="username" class="form-control" id="username" placeholder="Usuário"
                                            required>
                                        <div class="invalid-feedback">
                                            Validar Usuário é obrigatório.
                                        </div>
                                    </div>
                                </div>

                                <div class="col-12">
                                    <label for="email" class="form-label">Email <span class="text-muted">(Opcional)</span></label>
                                    <input type="email" name="email" class="form-control" id="email" placeholder="email@email.com">
                                    <div class="invalid-feedback">
                                        Insira um endereço de e-mail válido para atualizações de envio.
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <label for="cep" class="form-label">Cep</label>
                                    <input name="cep" type="text" class="form-control" id="cep" placeholder="" required>
                                    <div class="invalid-feedback">
                                        CEP obrigatório.
                                    </div>
                                </div>
                                <div class="col-12">
                                    <label for="address" class="form-label">Endereço</label>
                                    <input type="text" name="address" class="form-control" id="address" placeholder="Av. Fulano de Tal" required>
                                    <div class="invalid-feedback">
                                        Por favor insira seu endereço de entrega.
                                    </div>
                                </div>

                                <div class="col-12">
                                    <label for="numberEnd" class="form-label">Número</label>
                                    <input name="numberEnd" type="number" class="form-control" id="numberEnd"
                                        placeholder="N°">
                                </div>
                                <div class="col-12">
                                    <label for="bairro" class="form-label">Bairro</label>
                                    <input name="bairro" type="text" class="form-control" id="bairro"
                                        placeholder="Bairro">
                                </div>

                                <div class="col-12">
                                    <label for="address2" class="form-label">Endereço 2 <span class="text-muted">(Opcional)</span></label>
                                    <input type="text" name="address2" class="form-control" id="address2" placeholder="Sicrano ">
                                </div>

                                <div class="col-md-5">
                                    <label for="country" class="form-label">País</label>
                                    <select name="country" class="form-select" id="country" required>

                                        <% country.forEach(countrys=>{ %>
                                            <option value="">
                                                <%= countrys.nome %>
                                            </option>
                                            <% }) %>

                                    </select>
                                    <div class="invalid-feedback">
                                        Selecione um país válido..
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <label for="state" class="form-label">Estado</label>
                                    <input name="state" class="form-control" type="text" id="state" required>
                                    <div class="invalid-feedback">
                                        Forneça um estado válido.
                                    </div>
                                </div>

                            </div>

                            <hr class="my-4">

                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" id="same-address">
                                <label class="form-check-label" for="same-address">O endereço de entrega é o mesmo que
                                    meu endereço de cobrança</label>
                            </div>

                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" id="save-info">
                                <label class="form-check-label" for="save-info">Salve esta informação para a próxima
                                    vez</label>
                            </div>

                            <hr class="my-4">

                            <h4 class="mb-3">Pagamento</h4>

                            <div class="my-3">
                                <div class="form-check">
                                    <input id="credit" name="paymentMethod" type="radio" class="form-check-input  bg-success" value="credit" checked  required>
                                    <label class="form-check-label" for="credit">Cartão de Crédito</label>
                                </div>
                                <div class="form-check">
                                    <input id="debit" name="paymentMethod" type="radio" class="form-check-input bg-success" value="debit" required>
                                    <label class="form-check-label" for="debit">Cartão de Débito</label>
                                </div>
                                <div class="form-check">
                                    <input id="paypal" name="paymentMethod" type="radio" class="form-check-input bg-success" value="paypal" required>
                                    <label class="form-check-label" for="paypal">PayPal</label>
                                </div>
                            </div>

                            <div class="row gy-3">
                                <div class="col-md-6">
                                    <label for="cc-name" class="form-label">Nome do cartão</label>
                                    <input type="text" class="form-control" id="cc-name" placeholder="" required>
                                    <small class="text-muted">Nome completo conforme exibido no cartão</small>
                                    <div class="invalid-feedback">
                                        O nome no cartão é obrigatório
                                    </div>
                                </div>
                                
                                <div class="form-check">
                                    <input id="mastercard" name="cardType" type="radio" class="form-check-input  bg-success" value="mastercard" checked  required>
                                    <label class="form-check-label" for="credit">Mastercard</label>
                                </div>
                                <div class="form-check">
                                    <input id="visa" name="cardType" type="radio" class="form-check-input bg-success" value="visa" required>
                                    <label class="form-check-label" for="debit">Visa</label>
                                </div>

                                <div class="col-md-6">
                                    <label for="cc-number" class="form-label">Número do Cartão de Crédito</label>
                                    <input type="text" class="form-control" id="cc-number" placeholder="" required>
                                    <div class="invalid-feedback">
                                        O número do cartão de crédito é obrigatório
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <label for="cc-expiration" class="form-label">Expira</label>
                                    <input type="text" class="form-control" id="cc-expiration" placeholder="" required>
                                    <div class="invalid-feedback">
                                        Data de expiração obrigatória
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <label for="cc-cvv" class="form-label">CVV</label>
                                    <input type="text" class="form-control" id="cc-cvv" placeholder="" required>
                                    <div class="invalid-feedback">
                                        Código de segurança obrigatório
                                    </div>
                                </div>
                            </div>

                            <hr class="my-4">

                            <button class="w-100 btn btn-success mb-3 btn-lg" type="submit">Continuar para finalizar a
                                compra</button>
                        </form>
                    </div>
                </div>
            </main>
        </div>
        <%- include('partials/footer')%>
</body>
<script src="/javascripts/endComplete.js"></script>

</html>