<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zé Boné - Tudo para sua cabeça</title>
    <link rel="stylesheet" href="/stylesheets/styles.css">
    <link rel="stylesheet" href="/stylesheets/stylesProd.css">
    <link rel="icon" type="image/x-icon" href="/images/logo/favicon.ico">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
</head>
<body>
    
    <%- include('partials/header')%>
    
    <main>
            <section id="product">
                <article id="images">
                    <div id="main-img">
                        <img src="<%= produto.image1 %>" alt="boné primeira imagem ">
                    </div>
                    <div id="sec-imgs">
                        <img src="<%= produto.image2 %>" alt="boné segunda imagem">
                        <img src="<%= produto.image3 %>" alt="boné terceira imagem">
                        <img src="<%= produto.image4 %>" alt="boné quarta imagem">
                    </div>
                </article>
                <article id="prod-descr">
                    <h1 id="prod-name"><%= produto.nome %></h1>
                    <div id="descr-txt">
                        <%= produto.descricao %>
                    </div>
                </article>
            </section>
            <section id="pay-info">
                <article id="price">
                    <h2>R$ <%= produto.preco %></h2>
                    <p>ou até <strong>4x</strong> de <strong>R$ <%= produto.valorParcela %></strong> sem juros</p>
                </article>
                <article id="frete">
                    <article><h3>Calculadora de frete</h3></article>
                    <form action="" method="post">
                        <input id="cep" type="numeric" placeholder="Digite seu CEP">
                        <input id="button" type="button" value="OK">
                    </form>
                </article>
                <article id="pay">
                    <div id="buy-button">
                        <img src="/images/icones/icons8-carrinho-favorito-48.png" alt="Comprar">
                        <p>Comprar</p>
                    </div>
                </article>
            </section>
    </main>

    <%- include('partials/footer')%>
</body>
</html>